/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background: #fffef8;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li a {
  text-decoration: none;
  padding: 0 10px;
  font-size: 1.2em;
  color: black;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
}
.project-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
.project-header h2 {
  margin-right: 20px; /* Espacement entre le titre et le lien */
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

button,
input[type="submit"] {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  margin: 2em auto;
  padding: 15px 30px;
  text-align: center;
  border: 1px solid #1d6154;
  border-radius: 60px;
  cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
  background-color: #1d6154;
}
.catégorie {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 585px;
  margin: 0 auto;
}
.catégorie button {
  padding: 10px 20px;
  border-radius: 20px;
  text-align: center;
}

.catégorie button.active {
  background-color: #1d6154; /* Couleur de fond lorsqu'il est actif */
  color: white; /* Couleur du texte lorsqu'il est actif */
}
/* Réinitialisation des styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.modal {
  position: relative;
  width: 630px;
  max-width: 90%;
  height: 688px;
  max-height: 90%;
  border-radius: 10px; /* 0.625rem */
  background-color: white;
  overflow-y: auto;
}
hid

.modal-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.modal-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.close {
  display: flex;
  justify-content: end;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
}

.modal h2 {
  color: #000;
  text-align: center;
  font-size: 1.625rem;
  font-weight: 400;
  margin-bottom: 20px;
}




/* Galerie dans la modal */
.modal-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 70px;
}

.modal-gallery figure {
  position: relative;
  width: 76.61px;
  height: 102.57px;
  margin: 0;
  padding: 0;
  text-align: center;
  grid-template-rows: 10px;
  
}

.modal-gallery img {
  width: 76.61px; /* 5rem */
  height: 102.57px; /* 6.58375rem */
  object-fit: cover;
  
}

.modal-gallery figcaption {
  display: none; /* Masquer les titres des images */
}
.deleteWorkButton {
  position: absolute;
  width: 17px;
  height: 17px;
  top: -20px;
  right: 5px;
  padding: 0;
  border-radius: 2px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.deleteWorkButton i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
}

/* Formulaire d'ajout de photo */
#addPhotoForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

#addPhotoForm label {
 margin: auto;
  color: #3d3d3d;
  font-weight: 500;
}

#addPhotoForm input[type="text"],
#addPhotoForm select,
#addPhotoForm input[type="file"] {
  width: 80%;
  height: 3.1875rem;
  border: none;
  background: #fff;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  padding: 10px;
}

#addPhotoButton {
  width: 237px;
  height: 36px;
  border-radius: 60px;
  background: #1d6154;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Retour à la galerie */
#backToGalleryButton {
  all: unset;
  width: 21px; 
  height: 21px; 
  color: black;
  cursor: pointer;
  position: absolute;
  top: 20px; 
  left: 20px; 
  font-size: 21px;
  
 
}

/* Overlay background */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Assurez-vous que l'overlay soit au-dessus des autres éléments */
}
.ligne-separation-1 {
  color: black;
   width: 420px;
   margin: auto ;
 }
 
.ligne-separation-2 {
 color: black;
  width: 470px;
  margin: 20px ;
}

.divAjoutFichier {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 472px;
  height: 169px;
  padding: 20px;
  border-radius: 5px;
  background-color: #E8F1F6;
}
.file-input-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: 120px;
  
}

.file-input-label i {
  font-size: 70px;
  color: #CBD6DC;
  ; /* Couleur de l'icône */
  margin-bottom: -20px;
}

.file-input-label button  {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 173px;
  height: 36px;
  border-radius: 50px ;
  background-color: #CBD6DC;
 color: #306685;
 border: none;
}

.btnValiderForm {
  width: 237px;
  height: 36px;
  border-radius: 60px;
  color: white;
  background: #1d6154; /* Change to your desired color */
  margin: 20px auto; /* Center align */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#previewImage {
  width: 175px; 
  height: 169px; 
  object-fit: cover;
  display: none; /* Initially hide the image */
  position: absolute; /* Make sure it overlaps the container */
 top: 90px;
}
.hidden {
  display: none;
}